{% extends 'geonode_base.html' %}
{% load wagtailcore_tags menu_tags %}

{% block title %}{{ block.super }} – {{ page.title }}{% endblock %}
{% block extra_head %}
{{ block.super }}
<style>

/* 2nd level */
.tree > li > label {
  padding:10px 15px;  
}

/* 3rd level */
.tree > li > ul > li > a {
  font-size:10pt;
  margin-left:15px;
}

	.tut-nav {
		margin: 10px 0px;
	}
</style>
{% endblock %}
{% block extra_script %}
<script>
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);
});
</script>
{% endblock %}
{% block app_title %}
	{{ page.title }}
{% endblock %}
{% block body %}
<div id="wrap">
<!--	<div class="page-header">-->
<!--		<h2>{{page.title}}</h2>-->
<!--	</div>-->
	{{ page.body|richtext }}
</div>
{% endblock %}
{% block sidebar %}
	{% section_menu use_specific=USE_SPECIFIC_ALWAYS template="tutorials/main_menu.html" sub_menu_template="tutorials/sub_menu.html" %}
{% endblock %}